---
layout: default_research
---
<style>
#qr {
    width: 600px;
    height: 450px;
    border: 1px solid silver
}

@media(max-width: 600px) {
    #qr {
        width: 300px;
        height: 450px;
        border: 1px solid silver
    }
}

button:disabled,
button[disabled]{
  opacity: 0.5;
}
.scan-type-region {
    display: block;
    border: 1px solid silver;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.scan-type-region.disabled {
    opacity: 0.5;
}
</style>
<h1> HTML5 QR Code scanner </h1>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div id="qr" style="display: inline-block;"></div>
            <div id="scanned-codes"></div>
            <div id="feedback"></div>
        </div>
        <div class="col-md-12 scan-type-region camera">
            <div>
                <input type="radio" name="scan-type" value="camera" checked>
                <strong>Scan using Camera</strong>&nbsp;&nbsp;
                <code id="status">Click "Start Scanning"</b></code>
                <button id="requestPermission" class="btn btn-success btn-sm">Request Permission</button>
            </div>
            <div>
                <div>
                    <div id="select-camera-container" style="display: inline-block;"></div>
                    <select id="cameraSelection" disabled></select>
                </div>
                <div>
                    <button id="scanButton" class="btn btn-success btn-sm" disabled>start scaning</button>
                    <button id="stopButton" class="btn btn-warning btn-sm" disabled>stop scanning</button>
                </div>
            </div>
            <!-- <div class="references">
                <a href="https://gist.github.com/mebjas/729c5397506a879ec704075c8a5284e8">Reference Code</a>
            </div> -->
        </div>
        <div class="col-md-12 scan-type-region disabled file">
            <div>
                <input type="radio" name="scan-type" value="file">
                <strong>Scan using file</strong>
            </div>
            <div>
                <input type="file" id="qr-input-file" accept="image/*" disabled> Select Image
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>FAQs</h2>
    <strong>Is this supported on smartphones?</strong>
    <div>Yes! the solution is based on vanilla HTML5 and javascript. This should work on any HTML5 supported browser.</div>
    <br>

    <strong>Full example on how to use this?</strong>
    <div>Check source code of this page or checkout this <a href="https://gist.github.com/mebjas/729c5397506a879ec704075c8a5284e8">gist</a> where I have copied js code.</div>
    <br>

    <strong>Where can I read more about this, is there a refernce article?</strong>
    <div>
        Apart from the documentation on the <a href="https://github.com/mebjas/html5-qrcode">github project</a>, following blog article may be helpful.
        <br>
        <div class="post-info" style="border: 1px solid #cfcfcf73;padding: 5px;margin: 10px 0px 0px 0px;">
            <h3 class="post-header"><a class="post-link" href="/HTML5-QR-Code-scanning-launched-v1.0.1/">HTML5 QR Code scanning - launched v1.0.1 without jQuery dependency and refactored Promise based APIs</a></h3>
            <span class="post-description">
            <img src="/images/post14_image1.png" style="max-width: 50%; float: left; margin: 0px 15px 10px 0px;">
            In 2015 I had written an HTML5 based QR code scanning library as a jQuery extension. Recently I realised there was some consistent traffic on my Github Project and the demo page. As I dug more into what was going on and I was embarrassed to see the poor design and obsolete support to the latest HTML APIs around Camera. I recently fixed some of the issues and refactored the javascript library that is now independent of jQuery and supports Promise based APIs. In this article I'll explain how to use the new version of the library, some changes and reasons for them and existing issues and plan to fix them.
            </span>
            <span class="read-more"><a href="/HTML5-QR-Code-scanning-launched-v1.0.1/">[&nbsp;Read&nbsp;more&nbsp;]</a></span>
        </div>
        <div class="post-info" style="border: 1px solid #cfcfcf73;padding: 5px;margin: 10px 0px 0px 0px;">
            <h3 class="post-header"><a class="post-link" href="/qr-code-scanner-using-html-and-javascript/">[Obsolete] QR Code scanner using HTML5 and Javascript</a></h3>
             <span class="post-description">
               <img src="/images/post14_image1.png" style="max-width: 50%; float: left; margin: 0px 15px 10px 0px;">
               LazarSoft had written an excellent set of <a href="https://github.com/LazarSoft/jsqrcode">QR code decoding javascript libraries</a>.
               However, it still requires some efforts to integrate the work with a web project, as we need to take care of enumerating different camera devices, setting up <code>canvas</code> or the <code>video</code> element and hooking the stream with <code>qrcode library</code>.
               Also recently, in leu of privacy concers, some javascript APIs related to accessing the camera has changed and it requires some efforts to ensure different platforms like mobile or PC, chrome or safari support it.
               To reduce these pain points I wrote a jQuery based wrapper on to abstract tasks like camera enumeration and UI setup - it can be found at <a href="https://github.com/mebjas/html5-qrcode">mebjas/html5-qrcode</a>.
               In this article I have documented some details on how to use it and what is happening under the hook.
             </span>
             <span class="read-more"><a href="/qr-code-scanner-using-html-and-javascript/">[&nbsp;Read&nbsp;more&nbsp;]</a></span>
          </div>
    </div>
</div>
<div style="display: block; height: 30px"></div>
<div class="container">
    <h2>References</h2>
    <ol>
        <li>Project on Github - <a href="https://github.com/mebjas/html5-qrcode">mebjas/html5-qrcode</a></li>
        <li>How to use - <a href="https://blog.minhazav.dev/HTML5-QR-Code-scanning-launched-v1.0.1/">blog.minhazav.dev/HTML5-QR-Code-scanning-launched-v1.0.1</a></li>
    </ol>
</div>

<script src="/assets/research/html5qrcode/html5qrcode.js"></script>
<script>
const SCAN_TYPE_CAMERA = "camera";
const SCAN_TYPE_FILE = "file";

var currentScanTypeSelection = SCAN_TYPE_CAMERA;

// TODO(mebjas): Remove jQuery usage from this code.
function setFeedback(message) {
    $("#feedback").html(message);
}

function setStatus(status) {
    $("#status").html(status);
}

var codesFound = 0;
var lastMessageFound = null;
const qrCodeSuccessCallback = qrCodeMessage => {
    setStatus("Pattern Found");
    setFeedback("");
    if (lastMessageFound == qrCodeMessage) {
        return;
    }
    ++codesFound;
    lastMessageFound = qrCodeMessage;
    $("#scanned-codes").prepend(`<div>[${codesFound}] New code found: <strong>${qrCodeMessage}</strong></div>`);
}

const qrCodeErrorCallback = message => {
    setStatus("Scanning");
}

const videoErrorCallback = message => {
    setFeedback(`Video Error, error = ${message}`);
}

const html5QrCode = new Html5Qrcode("qr");
$(document).ready(function() {
    // resetQrRegion();

    const onScanTypeSelectionChange = event => {
        const setupFileOption = () => {
            currentScanTypeSelection = SCAN_TYPE_FILE;
            if ($("#stopButton").prop("disabled") != true) {
                $("#stopButton").click();
            }

            // resetQrRegion();
            $(".scan-type-region.camera").addClass("disabled");
            $(".scan-type-region.file").removeClass("disabled");
            $("#qr-input-file").prop("disabled", false);
            setFeedback("Select image file to scan QR code.");
        }

        const setupCameraOption = () => {
            currentScanTypeSelection = SCAN_TYPE_CAMERA;
            html5QrCode.clear();
            document.getElementById('qr-input-file').value = '';
            $("#qr-input-file").prop("disabled", true);
            $(".scan-type-region.camera").removeClass("disabled");
            $(".scan-type-region.file").addClass("disabled");
            setFeedback("Click 'Start Scanning' to <b>start scanning QR Code</b>");
        }

        const val = event.target.value;
        if (val == 'file') {
            setupFileOption();
        } else if (val == 'camera') {
            setupCameraOption();
        } else {
            throw `Unsupported scan type ${val}`;
        }
    }

    document.querySelectorAll("input[name='scan-type']").forEach(input => {
        input.addEventListener('change', onScanTypeSelectionChange);
    });

    document.getElementById('requestPermission').addEventListener('click', function() {
        if (currentScanTypeSelection != SCAN_TYPE_CAMERA) return;
        Html5Qrcode.getCameras().then(cameras => {
            $("#requestPermission").prop("disabled", true);
            $("#select-camera-container").html(`Select Camera (${cameras.length})`);
            if (cameras.length == 0) {
                setFeedback("Error: Zero cameras found in the device");
                return;
            }

            for (var i = 0; i < cameras.length; i++) {
                const camera = cameras[i];
                const value = camera.id;
                const name = camera.label == null ? value : camera.label;
                $("#cameraSelection").append(`<option value="${value}">${name}</option>`);
            }

            $("#cameraSelection").prop("disabled", false);
            $("#scanButton").prop("disabled", false);
            $("#scanButton").on('click', function() {
                if (currentScanTypeSelection != SCAN_TYPE_CAMERA) return;
                const cameraId = $("#cameraSelection").val();
                $("#cameraSelection").prop("disabled", true);
                $("#scanButton").prop("disabled", true);
                $("#stopButton").prop("disabled", false);

                setStatus("scanning");
                setFeedback("");
                html5QrCode.start(
                    cameraId, 
                    { fps: 10, qrbox: 250 },
                    qrCodeSuccessCallback,
                    qrCodeErrorCallback)
                .catch(videoErrorCallback);
            });

            document.getElementById('stopButton').addEventListener('click', function() {
                html5QrCode.stop().then(ignore => {
                    $("#cameraSelection").prop("disabled", false);
                    $("#scanButton").prop("disabled", false);
                    $("#stopButton").prop("disabled", true);

                    setFeedback('Stopped');
                    setFeedback("Click 'Start Scanning' to <b>start scanning QR Code</b>");
                    $("#scanned-codes").html("");
                }).catch(err => {
                    setFeedback('Error');
                    setFeedback("Race condition, unable to close the scan.");
                });
            });
        }).catch(err => {
            $("#requestPermission").prop("disabled", false);
            setFeedback(`Error: Unable to query any cameras. Reason: ${err}`);
        });
    });

    // File based scanning
    const fileinput = document.getElementById('qr-input-file');
    fileinput.addEventListener('change', e => {
        if (currentScanTypeSelection != SCAN_TYPE_FILE) return;
        if (e.target.files.length == 0) {
            return;
        }
        const file = e.target.files[0];
        html5QrCode.scanFile(file, true)
        .then(qrCodeSuccessCallback)
        .catch(err => setFeedback(`Error scanning file. Reason: ${err}`));
    });
});
</script>
