---
layout: default_research
---
<style>
#qr {
    width: 600px;
    height: 450px;
    border: 1px solid silver
}

@media(max-width: 600px) {
    #qr {
        width: 300px;
        height: 450px;
        border: 1px solid silver
    }
}

button:disabled,
button[disabled]{
  opacity: 0.5;
}
</style>
<div class="container" style="text-align: center">
    <h1> HTML5 QR Code scanner </h1>
    <br><br>

    <div id="qr" style="display: inline-block;"></div>
    <br><br>

    <div class="row">
        <select id="cameraSelection" disabled></select>
        <button id="scanButton" class="btn btn-success btn-sm" disabled>start scaning</button>
        <button id="stopButton" class="btn btn-warning btn-sm" disabled>stop scanning</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <code id="status">Click "Start Scanning" to <b>start scanning QR Code</b></code>
            <br>
            <span id="feedback" style="margin: 10px; display: inline-block">
                querying for available camera options...
            </span>
            <div id="logging"></div>
        </div>
    </div>
</div>

<div class="container">
    <h2>FAQs</h2>
    <strong>Is this supported on smartphones?</strong>
    <div>Yes! the solution is based on HTML5 and javascript. This should work on any HTML5 supported browser.</div>    
</div>
<div style="display: block; height: 30px"></div>
<!-- TODO(mebjas): Add a section with blog article and title and description. -->

<div class="container">
    <h2>References</h2>
    <ol>
        <li>Project on Github - <a href="https://github.com/mebjas/html5-qrcode">mebjas/html5-qrcode</a></li>
        <!-- TODO(mebjas): Add an article and add link here. -->
        <li>How to use - <a href="#TODO">blog.minhazav.dev</a></li>
    </ol>
</div>

<!-- Assuming JQUERY is already included -->
<script src="/assets/research/html5qrcode/jsqrcode-combined.js"></script>
<script src="/assets/research/html5qrcode/html5-qrcode.js"></script>
<script>
$(document).ready(function() {
    var onQRCodeFoundCallback = function (qrCodeMessage) {
        $("#feedback").html('Code scanned as: <strong>' + qrCodeMessage + '</strong>');
    }

    var onQRCodeNotFoundCallback = function (error) {
        $("#feedback").html('Unable to scan the code! Error: ' + error);
    }

    var onVideoErrorCallback = function (videoError) {
        $("#feedback").html('Video Error: ' + videoError);
    }

    var onCamerasEnumerated = function (cameras) {
        // Cameras found.
        $("#logging").html("Number of camera(s) found: " +cameras.length);
        if (cameras.length == 0) {
            $("#feedback").html("Error: Zero cameras found in the device");
            return;
        }

        for (i = 0; i < cameras.length; i++) {
            var camera = cameras[i];
            var value = camera.id;
            var name = camera.label == null ? value : camera.label;
            $("#cameraSelection").append("<option value='" + value+ "'>" + name + "</option>");
        }
        $("#cameraSelection").prop("disabled", false);
        $("#cameraSelection").on("change", function () {
            console.log("Option changed");
            console.log($("#cameraSelection").val());
        })

        $("#scanButton").prop("disabled", false);
        $("#scan").on('click', function() {
            var cameraId = $("#cameraSelection").val();
            $("#cameraSelection").prop("disabled", true);
            $("#scanButton").prop("disabled", true);
            $("#stopButton").prop("disabled", false);
            $("#status").html('scanning');
            $('#qr').html5_qrcode(
                onQRCodeFoundCallback,
                onQRCodeNotFoundCallback,
                onVideoErrorCallback,
                cameraId,
                { fps : 10 }
            );
        });

        $("#stop").on('click', function() {
            $("#qr").html5_qrcode_stop();
            $("#cameraSelection").prop("disabled", false);
            $("#status").html('Click "Start Scanning" to <b>start scanning QR Code</b>');
            $("#scanButton").prop("disabled", false);
            $("#stopButton").prop("disabled", true);
            $("#feedback").html("");
        });
    }

    var onCameraEnumerationFailed = function (errorMessage) {
        $("#feedback").html("Error: Unable to query any cameras. Reason: " +errorMessage);
    }

    $(document).html5_qrcode_getSupportedCameras(
        onCamerasEnumerated, onCameraEnumerationFailed);
});
    
</script>