/** Flash card **/
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 120px;
    /* perspective: 1000px; */
    display: inline-block;
    margin: 10px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-weight: bold;
}
  
  .flip-card-front {
    background-color: #dcdfd6;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
/** Flash card end here **/
