<header class="site-header">

    <div class="wrapper-header">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      <div class="header-left">
        <a class="site-title" href="{{ '/' | relative_url }}">
          <b>{{ site.name }}</b> {{ site.description }}
        </a>
      </div>
      
      {% if page_paths %}
      <div class="header-right">
        <!-- TODO(mebjas): Add categories and resume. -->
        <a class="page-link" href="{{ site.footer-links.500px }}">500px</a>
        <a class="page-link" href="{{ site.footer-links.github_full }}">Github</a>
        <a class="page-link" href="{{ site.footer-links.linkedin }}">LinkedIn</a>
        <a class="page-link" href="{{ '/about/' | relative_url }}">About</a>
      </div>
      {% endif %}
    </div>
    
  </header>