<h2> Want to read more such similar contents?</h2>

<div style="margin-bottom: 10px;">
    If you found this article useful, please feel free to share feedbacks - it's a great incentive to see happy readers. If you found some inaccurate information please report that as well - I'd be very happy to update and give you credits!<br><br>
    
    I like to write articles on topic less covered on internet. They revolve around writing fast algorithms, image processing as well as general software engineering.<br><br>
    
    I publish many of them on Medium. <br><br>
    
    <b>If you are already on medium</b> - Please join 4200+ other members and <a href="https://medium.com/subscribe/@minhazav">Subscribe to my articles</a> to get updates as I publish.<br><br>
    
    <b>If you are not on Medium</b> - Medium has millions of amazing articles from 100K+ authors. To get access to those, please join using my <a href="https://minhazav.medium.com/membership">referral link</a>. This will give you access to all the benefits of Medium and Medium shall pay me a piece to support my writing!
    <br><br>
    Thanks!
</div>
