<div class="post-sidebar-left">
    
    <div class="sidebar-author-info">
        <img src="/images/rsz_self_1_1.jpg" class="image">
        <h4 class="name">Minhaz</h4>
        <div class="title">Software Engineer, Google</div>
        <div class="sub-title">
            Working on computational photography these days. Interested in: Image Processing, optimisations & distributed systems.
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/in/minhazav/"><img src="/images/common/linkedin.png"></a>
            <a href="https://twitter.com/minhazav"><img src="/images/common/twitter.png"></a>
            <a href="http://instagram.com/mebjas"><img src="/images/common/instagram.png"></a>
        </div>
        <div class="read-more">
            <a href="/about">read more...</a>
        </div>
    </div>

    <div class="sidebar-claps">
        <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css" />
         <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
         <applause-button style="width: 58px; height: 58px;" multiclap="true" />
    </div>

    <div class="sidebar-subscribe">
        <form action="https://tinyletter.com/minhazav" method="post" target="popupwindow"
            onsubmit="window.open('https://tinyletter.com/minhazav', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <p><label for="tlemail">Subscribe to newsletter</label></p>
            <p><input type="text" style="width:140px" name="email" id="tlemail" placeholder="email id" /></p>
            <input type="hidden" value="1" name="embed"/>
            <input type="submit" value="Subscribe Now" />
        </form>
    </div>

    <!--
    <div class="recommended-books">
        <h4>Books I recommend*</h4>
        <div>
            <a target="_blank"  href="https://www.amazon.in/gp/product/1848829345/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=1848829345&linkCode=as2&tag=minhazav0b-21&linkId=e441640532726dc30309f5b7632e20ed"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=1848829345&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=minhazav0b-21" ></a>
        </div>

        <div class="astriek">
            * While I earn a small affiliate token on purchase of these books, these are
            genuinely the books I personally use and highly recommend.
        </div>
    </div>
    -->
</div>