<div class="post-sidebar-right">

    <div style="margin-bottom: 10px;">
        <h3> Medium</h3>
        I often write on Medium, if you are on Medium <a href="https://bit.ly/3PxITDC">follow me to get updates on my content</a>.<br><br>

        If you are not on Medium, <a href="https://bit.ly/3LyrVSq">join now</a> to read stories from 100,000+ writers.
    </div>

    <div class="recent-posts">
        <h3>Recent posts</h3>
        <ul>
        {% for page in site.posts %}
            {% if page.wip != true %}
            <li>
                <a class="post-link" href="{{ page.url | relative_url }}">
                    {{ page.title | escape }}
                </a> 
                •
                {% assign date_format = site.minutia.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
            </li>
            {% endif %}
            {% if forloop.index  == 10 %}
            {% break %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <!-- TODO: do we need to repeat the scripts -->
    <!-- <div class="sidebar-ad-1">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-6209792783516879"
            data-ad-slot="6080985823"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> -->

    <div class="recent-tweets">
        <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/minhazav?ref_src=twsrc%5Etfw">
            Follow me on Twitter - minhazav@
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <!-- <div class="sidebar-ad-2">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-6209792783516879"
                data-ad-slot="3071679109"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> -->


    <!-- <div class="sidebar-ad-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-6209792783516879"
            data-ad-slot="2688535728"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> -->
</div>