<div class="post-sidebar-right">
<style type="text/css">
.page-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E7F3F1;
  font-family: "Open Sans", sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 21.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card:hover {
  text-decoration: none;
}
.data-card h3 {
  color: #2E3C40 !important;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #753BBD;
  transition: color 0.45s ease, border 0.45s ease;
  text-decoration: none;
}
.data-card h4 {
  color: #627084 !important;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
  text-decoration: none;
}
.data-card p {
  opacity: 0;
  color: #FFFFFF !important;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
  text-decoration: none;
}
.data-card .link-text {
  display: block;
  color: #753BBD;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}
.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}
.data-card:hover {
  background: #753BBD;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #FFFFFF !important;
  border-bottom-color: #A754C4;
}
.data-card:hover h4 {
  color: #FFFFFF !important;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}
.data-card:hover .link-text {
  color: #FFFFFF !important;
}
.data-card:hover .link-text svg {
  -webkit-animation: point 1.25s infinite alternate;
          animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  fill: #FFFFFF !important;
}

@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
</style>
    <section class="page-contain">
        <a href="https://bit.ly/3x10LhG" class="data-card">
        <h3>1500+</h3>
        <h4>Followers on Medium</h4>
        <p>I write many of these articles on Medium, follow me to get updated content.</p>
        <span class="link-text">
            Subscribe to new articles
            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
    </svg>
        </span>
        </a>
  </section>

    <!-- <div style="margin-bottom: 10px;">
        <h3> Medium</h3>
        I often write on Medium, if you are on Medium <a href="https://bit.ly/3PxITDC">follow me to get updates on my content</a>.<br><br>

        If you are not on Medium, <a href="https://bit.ly/3LyrVSq">join now</a> to read stories from 100,000+ writers.
    </div> -->

    <div class="recent-posts">
        <h3>Recent posts</h3>
        <ul>
        {% for page in site.posts %}
            {% if page.wip != true %}
            <li>
                <a class="post-link" href="{{ page.url | relative_url }}">
                    {{ page.title | escape }}
                </a> 
                •
                {% assign date_format = site.minutia.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
            </li>
            {% endif %}
            {% if forloop.index  == 10 %}
            {% break %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <!-- TODO: do we need to repeat the scripts -->
    <!-- <div class="sidebar-ad-1">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-6209792783516879"
            data-ad-slot="6080985823"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> -->

    <div class="recent-tweets">
        <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/minhazav?ref_src=twsrc%5Etfw">
            Follow me on Twitter - minhazav@
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <!-- <div class="sidebar-ad-2">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-6209792783516879"
                data-ad-slot="3071679109"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> -->


    <!-- <div class="sidebar-ad-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209792783516879"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-6209792783516879"
            data-ad-slot="2688535728"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> -->
</div>