<div class="post-sidebar-left">
    
    <div class="sidebar-author-info">
        <img src="/images/rsz_self_1_1.jpg" class="image">
        <h4 class="name">Minhaz</h4>
        <div class="title">Senior Software Engineer, Google</div>
        <div class="sub-title">
            Working on computational photography these days. Interested in: Image Processing, optimisations & distributed systems.
        </div>
        <div class="twitter-follow" style="margin: 10px;">
            <a href="https://twitter.com/minhazav?ref_src=twsrc%5Etfw" 
            class="twitter-follow-button" 
            data-show-count="false">Follow @minhazav</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/in/minhazav/"><img src="/images/common/linkedin.png"></a>
            <!-- <a href="https://twitter.com/minhazav"><img src="/images/common/twitter.png"></a> -->
            <a href="http://instagram.com/mebjas"><img src="/images/common/instagram.png"></a>
        </div>
        <div class="read-more">
            <a href="/about">read more...</a>
        </div>
    </div>
</div>