<div class="post-sidebar-right" style="position: fixed;">
    <div class="scanapp-vert" style="text-align: center;">
        <div class="alert alert-success">
            <strong>Full Demo</strong>
            <hr style="color: #0b520e">
            <a href="https://scanapp.org">scanapp.org</a> is a free online QR code and barcode reader for web built using this library - <a href="https://scanapp.org">try it out</a>.
            <br>
            <a href="https://scanapp.org"><img src="/assets/img/scanapp-logo-removebg-preview.png" style="width: 200px; margin: 10px"></a>
        </div>
    </div>

    {% include medium-widget.html content="https://bit.ly/3CzAj1t" %}

    <div class="recent-posts" style="margin-top: 20px;">
        <h3>Related posts</h3>
        <ul>
            <li>
                <a class="post-link" href="https://minhazav.medium.com/using-barcodedecoder-in-javascript-7d0b344df7d3">
                    Using BarcodeDecoder in JavaScript
                </a>
                • Jun 20, 2021
            </li>
            <li>
                <a class="post-link" href="https://minhazav.medium.com/qr-and-barcode-scanner-using-html-and-javascript-2cdc937f793d">
                    QR and barcode scanner using HTML and JavaScript
                </a>
                • Jun 14, 2021
            </li>
            <li>
                <a class="post-link" href="https://minhazav.medium.com/html5qrcodescanner-end-to-end-qr-code-scanner-for-web-not-just-a-library-8f6a2d00794d">
                    Html5QrcodeScanner — End to end QR Code scanner for web, not just a library.
                </a>
                • Jun 27, 2020
            </li>
            <li>
                <a class="post-link" href="https://blog.minhazav.dev/HTML5-QR-Code-scanning-support-for-local-file-and-default-camera/">
                    HTML5 QR Code scanning with JavaScript - Support for scanning the local file and using default camera added (v1.0.5)
                </a>
                • Apr 18, 2020 
            </li>
        </ul>
    </div>

    <div class="sidebar-ad-1">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2583590292295592" crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-2583590292295592"
            data-ad-slot="6849341899"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <!-- <div>
        <iframe class="domain-widget-minhazav" src="//www.bluehost.com/web-hosting/domaincheckapi/?affiliate=minhazav" width="100%" height="175"></iframe>
    </div> -->

    <!--

    <div class="sidebar-subscribe">
        <img src="https://blog.minhazav.dev/images/common/newsletter.jpg" style="width: 100%;">
        <form action="https://tinyletter.com/minhazav" method="post" target="popupwindow"
            onsubmit="window.open('https://tinyletter.com/minhazav', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <p><label for="tlemail">Subscribe to newsletter</label></p>
            <p><input type="text" style="width:140px" name="email" id="tlemail" placeholder="email id" /></p>
            <input type="hidden" value="1" name="embed"/>
            <input type="submit" value="Subscribe Now" />
        </form>
    </div>

    <div class="sidebar-ad-2">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2583590292295592" crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-2583590292295592"
            data-ad-slot="6849341899"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    <div class="sidebar-ad-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2583590292295592" crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-2583590292295592"
            data-ad-slot="8179924805"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    -->
</div>