<div class="widget-self">
    <div class="section-image">
        <a href="{{ "/about" | relative_url }}">
            <img src="{{ "/images/rsz_self_1_1.jpg" | relative_url }}" width="200px">
        </a>
    </div>
    <div class="section-info">
        <strong><a href="{{ "/about" | relative_url }}">Minhaz | Google | Singapore</a></strong>
        <div class="quote">
            I am working with Next Billion Users Org at Google. My team builds technologies for emerging markets. 
            I feel the goal of delivering cutting edge technologies to resource-constrained devices with seamless performance is hard, at times frustrating but worthwhile.
            Hoping for positive impact, good Karma and unbounded learning ;)
        </div>
        <div class="quote">
            These days I am working on #Computational-Photography and try hard at #Photography as well.
            I have good experience with #Distributed-Systems and #Applied-ML.
        </div>

        <div class="quote">
            <strong>All posts are personal and don't reflect the opinion of the organization I work for.</strong>
        </div>
    </div>
</div>