<div class="widget-self">
    <div class="section-image">
        <a href="{{ " /about" | relative_url }}">
            <img src="{{ " /images/rsz_self_1_1.jpg" | relative_url }}" width="200px">
        </a>
    </div>
    <div class="section-info">
        <strong><a href="{{ " /about" | relative_url }}">Minhaz | Google | 🇺🇸 Mountain View, USA</a></strong>
        <div class="quote">
            I lead AI Acclerator engineering team in Android, Google.
        </div>
        <div class="quote">
            My team works on bringing differentiated AI experiences into Android OS.

            We are based out of 🇮🇳 Bengaluru (India), 🇸🇬 Singapore, 🇺🇸 USA, 🇬🇧 UK.
            <br>

            We are always looking for talented engineers to join us. If you are interested, please reach out to me on
            <a href="http://twitter.com/minhazav" target="_blank">Twitter</a>
            or <a href="https://www.linkedin.com/in/mebjas" target="_blank">LinkedIn</a>.
        </div>
        <div class="quote">
            Hoping for positive impact, good Karma and unbounded learning ;).
            <strong>All the posts and opinions are personal and are not related to any organisations I work
                for.</strong>
        </div>

    </div>
</div>