<div class="widget-self-photos">
    <div class="header">
        <a href="{{ "/about" | relative_url }}">
            <img src="{{ "/images/rsz_self_1_1.jpg" | relative_url }}">
        </a>
    </div>
    <div class="section">
        <div class="body">
            Recently picked photography as a hobby after I started to work in area of computational
            photography. This gave me certain edge with theoretical knowledge around a camera.
            Only to realize photography is much more of an art. Still suck at it, trying hard at it.
        </div>
        <div class="footer">
            All images under
            <a href="https://creativecommons.org/licenses/by-nd/4.0/" tab="alt">
                <img src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" alt="Creative Commons Attribution-NoDerivs CC BY-ND">
            </a>
        </div>
    </div>
</div>