---
layout: default
---
<!-- ads script -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% include post-sidebar-left-bio-only.html %}
<article class="post">
  <div class="home"> 
    
    {{ content }}

    {% for page in site.posts %}
    <!-- for work in progress articles -->
    {% if page.wip %}
    <div class="wip-post" style="display: none">
    {% endif %}

    {% include post-info.html description=1 %}

    {% if page.wip %}
    </div>
    {% endif %}

    {% endfor %}

  </div>
</article>
{% include post-sidebar-right-medium-only.html %}

<div style="border-top: 1px solid #cfcfcf; margin-top: 30px">
    {% include widget-self.html %}
</div>
