---
layout: default
---
<!-- ads script -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% include post-sidebar-left-bio-only.html %}
<article class="post">
  <div class="home"> 
    
    {{ content }}

    {% for page in site.posts %}
    <!-- for work in progress articles -->
    {% if page.wip %}
    <div class="wip-post" style="display: none">
    {% endif %}

    {% include post-info.html description=1 %}

    {% if page.wip %}
    </div>
    {% endif %}

    {% assign remainder = forloop.index | modulo: 5 %}
    {% if remainder == 0 %}
    <ins class="adsbygoogle"
     style="display:block; margin-bottom: 15px;"
     data-ad-format="fluid"
     data-ad-layout-key="-dh-t-71-de+1p7"
     data-ad-client="ca-pub-2583590292295592"
     data-ad-slot="9184666129"></ins>
     <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% endif %}

    {% endfor %}

  </div>
</article>

<div style="border-top: 1px solid #cfcfcf; margin-top: 30px">
    {% include widget-self.html %}
</div>

<!-- ads script -->