---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minutia.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      •
      {% include filed.html %}
      <!-- TODO(mebjas): add support for comment counts here. -->
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.toc %}
    {% include toc.html display="Table of Contents" %}
    {% endif %}
    {{ content }}
  </div>

  <div class="post-footer">
    {% include post-footer.html %}
  </div>

  <!-- TODO(mebjas): Migrate to a different commenting solution -->
  <div class="just-comments" data-apikey="014acd23-9a26-4415-a7ea-80f4253d1295" data-recaptcha="true"></div>
  <script async src="https://just-comments.com/w2.js"></script>
</article>
