---
layout: default_research
---
<style>
.wrapper-content {
    max-width: calc(1200px - (30px * 2));
}
.main_container {
    display: flex;
    flex-wrap: wrap;
}
.research {
    min-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 300px;
    border: 1px solid #00000059;
    border-radius: 5px;
    cursor: pointer;
    background: white;
}
.research.wip {
    display: none;
}
.research:hover {
    border: 1px solid #f19f21;
    color: #805007;
}
.research:hover>.body a {
    color: #100a01;
}
.research .wip {
    background: #fff670;
    padding: 5px;
    text-align: center;
    color: #111111;
    font-weight: bold;
}
.research:hover>.header .title {
    background: #f19f2147;
}
.research .header {
    width: 100%;
    height: 250px;
    background: #00000012;
}
.research .header .img {
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    background: white;
}
.research .header .img img {
    width: 100%;
}
.research .header .title {
    padding: 5px 10px;
    font-size: 14pt;
    font-weight: 500;
}
.research .body {
    padding: 10px;
    /* font-family: sans-serif; */
}
</style>
<div class="main_container">
    {% for research in site.data.research %}
        {% if research.wip %}
        <div class="research wip" data="{{ research.link }}">
            <div class="wip">Work in progress</div>
        {% else %}
        <div class="research" data="{{ research.link }}">
        {% endif %}
            <div class="header">
                <div class="img">
                    {% if research.image %}
                    <img src="{{ research.image }}" >
                    {% endif %}
                </div>
                <div class="title">{{ research.title }}</div>
            </div>
            <div class="body">{{ research.description }}</div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
$(document).ready(() => {
    $(".research").on("click", (e) => {
        location.href = "/research/" +$(e.currentTarget).attr('data');
    });

    if (location.hash.indexOf("wip") != -1) {
        $(".research.wip").show();
    }
});
</script>